@charset "UTF-8";
/* 본고딕 Regular */
@font-face {
	font-family: "Pretendard GOV";
	font-style: normal;
	font-weight: 100;
	src: url("../common/webfont/PretendardGOV-Thin.woff") format("font-woff"), url("../common/webfont/PretendardGOV-Thin.otf") format("font-woff2"), url("../common/webfont/PretendardGOV-Thin.ttf") format("opentype");
}
/* 본고딕 Regular */
@font-face {
	font-family: "Pretendard GOV";
	font-style: normal;
	font-weight: 300;
	src: url("../common/webfont/PretendardGOV-Light.woff") format("font-woff"), url("../common/webfont/PretendardGOV-Light.otf") format("font-woff2"), url("../common/webfont/PretendardGOV-Light.ttf") format("opentype");
}
/* 본고딕 Regular */
@font-face {
	font-family: "Pretendard GOV";
	font-style: normal;
	font-weight: 400;
	src: url("../common/webfont/PretendardGOV-Regular.woff") format("font-woff"), url("../common/webfont/PretendardGOV-Regular.otf") format("font-woff2"), url("../common/webfont/PretendardGOV-Regular.ttf") format("opentype");
}
/* 본고딕 Medium */
@font-face {
	font-family: "Pretendard GOV";
	font-style: normal;
	font-weight: 500;
	src: url("../common/webfont/PretendardGOV-Medium.woff") format("font-woff"), url("../common/webfont/PretendardGOV-Medium.otf") format("font-woff2"), url("../common/webfont/PretendardGOV-Medium.ttf") format("opentype");
}
/* 본고딕 Bold */
@font-face {
	font-family: "Pretendard GOV";
	font-style: normal;
	font-weight: 600;
	src: url("../common/webfont/PretendardGOV-SemiBold.woff") format("font-woff"), url("../common/webfont/PretendardGOV-SemiBold.otf") format("font-woff2"), url("../common/webfont/PretendardGOV-SemiBold.ttf") format("opentype");
}
/* 본고딕 Bold */
@font-face {
	font-family: "Pretendard GOV";
	font-style: normal;
	font-weight: 700;
	src: url("../common/webfont/PretendardGOV-Bold.woff") format("font-woff"), url("../common/webfont/PretendardGOV-Bold.otf") format("font-woff2"), url("../common/webfont/PretendardGOV-Bold.ttf") format("opentype");
}
html, body {
	overflow-x: hidden;
	width: 100%;
	position: relative;
}

* {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: none !important;
	line-height: 150%;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ffffff;
	color: #000000;
	overflow: hidden;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {
	margin: 0;
	padding: 0;
}

fieldset, img {
	border: 0 none;
	display: block;
}

dl, ul, ol, menu, li {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	content: none;
}

input, select, textarea, button {
	vertical-align: middle;
}

input, textarea {
	-webkit-border-radius: 0;
	-webkit-appearance: none;
}

button {
	border: 0 none;
	background-color: transparent;
	cursor: pointer;
}

body {
	background: #fff;
}

body, th, td, input, select, textarea, button {
	font-size: 10px;
	line-height: 150%;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	color: #000;
} /* color값은 디자인가이드에 맞게사용 */
a {
	color: #000;
	text-decoration: none;
}

a:active, a:hover {
	text-decoration: none;
}

address, caption, cite, code, dfn, em, var {
	font-style: normal;
	font-weight: normal;
}

caption {
	font-size: 0 !important;
}

input[type=radio] {
	width: 1px;
	height: 1px;
	font-size: 0;
	opacity: 0.01;
	overflow: hidden;
}

input[type=checkbox] {
	width: 1px;
	height: 1px;
	font-size: 0;
	opacity: 0.01;
	overflow: hidden;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	background: #fff url(../../common/images/icon_select.png) calc(100% - 9px) center no-repeat;
}

select::-ms-expand {
	display: none;
}

label {
	font-size: 0;
}

.skip .quickBtn {
	display: block;
	width: 100%;
	height: 0px;
	background: #092473;
	font-size: 15px;
	color: #fff;
	overflow: hidden;
	text-align: center;
}

.skip .quickBtn:focus {
	height: auto;
}

.hidden {
	font-size: 0 !important;
	position: fixed;
	left: -5000px;
	top: 0;
}

.srOnly {
	position: absolute !important;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

::selection {
	background: #87cd33;
	color: white;
}

/* 1. Root 설정 (반응형 폰트 크기) */
:root {
	font-size: 16px;
}

@media (max-width: 500px) {
	:root {
		font-size: 14px;
	}
}
:root {
	--prm1: #4e9815;
	--prm2: #87cd33;
	--prm3: #252F3E;
	--snd1: #FFAC11;
	--snd2: #D67D00;
	--snd3: #EE3A3A;
	--b1: #000000;
	--b2: #666666;
	--lbg1: #dfdfdf;
	--wht: #FFFFFF;
}

/*공통사용*/
a, a:visited {
	color: var(--prm1);
	text-decoration: none;
}

.df {
	display: flex;
}

.aic {
	align-items: center;
}

.jcc {
	justify-content: center;
}

/*배경효과용 부모영역 세팅*/
.allWrapper, .intro, .introContents, section {
	background-color: transparent !important;
}

/*배경 동그라미 효과*/
.circle {
	position: absolute;
	top: -1000px;
	right: 300px;
	width: 20px;
	height: 20px;
	border-radius: 40%;
	opacity: 0;
	margin: -19px auto;
	transition: transform 1s cubic-bezier(0.14, 0.15, 0.13, 0.99);
	z-index: 9;
}

/*애니메이션 초기 세팅*/
[data-aos] {
	position: relative;
	z-index: 1;
}

/*커서 효과*/
.cursor {
	position: fixed;
	border-radius: 50%;
	pointer-events: none;
	z-index: 10000;
	transition: transform 0.1s ease-out, background 0.3s;
	width: 12px;
	height: 12px;
	background: var(--prm2) !important;
	mix-blend-mode: difference;
	z-index: 999;
}
.cursor.invert {
	background: var(--wht);
}
@media screen and (max-width: 767px) {
	.cursor {
		display: none;
	}
}

.cursor-follower {
	position: fixed;
	border-radius: 50%;
	pointer-events: none;
	z-index: 10000;
	transition: transform 0.1s ease-out, background 0.3s;
	width: 60px;
	height: 60px;
	border: 1px solid var(--prm2) !important;
	transition: all 0.2s ease-out;
	mix-blend-mode: difference;
	z-index: 999;
}
.cursor-follower.invert {
	border-color: var(--wht);
}
@media screen and (max-width: 767px) {
	.cursor-follower {
		display: none;
	}
}

.cursor-active {
	transform: scale(2);
	background: rgba(135, 205, 51, 0.2);
	border: none;
}

/*배경효과*/
.bg-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: var(--wht);
	transition: background-color 0.4s ease;
	pointer-events: none;
}

/*로딩*/
.loader {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	background: var(--b1);
	color: var(--wht);
	z-index: 9999;
	transform: translate(-50%, -50%);
}
.loader > h1 {
	font-size: 5rem;
	text-align: center;
}
.loader > h2 {
	font-size: 2rem;
	text-align: center;
}

.allWrapper {
	overflow-x: hidden;
	width: 100%;
	/*동그라미 배경효과 캔버스*/
}
.allWrapper #bgCanvas {
	position: fixed !important;
	top: 0;
	left: 0;
	width: 100vw;
	max-width: 100%;
	height: 100%;
	z-index: -1 !important;
	pointer-events: none;
	display: block !important;
}
.allWrapper {
	/*헤더*/
}
.allWrapper header {
	height: 100vh;
}
.allWrapper header > div > h1 {
	font-size: 70px;
	text-align: center;
	color: var(--b1);
}
@media screen and (max-width: 767px) {
	.allWrapper header > div > h1 {
		font-size: 42px;
		line-height: 100%;
	}
}
.allWrapper header > div > h2 {
	font-size: 28px;
	text-align: center;
	color: var(--b1);
}
@media screen and (max-width: 767px) {
	.allWrapper header > div > h2 {
		font-size: 18px;
		margin-top: 40px;
	}
}
.allWrapper .introContents {
	width: 100%;
	position: relative;
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	justify-content: flex-start;
	max-width: 1400px;
	margin: 0 auto;
}
@media screen and (max-width: 1023px) {
	.allWrapper .introContents {
		margin-bottom: 100px;
		padding: 0 20px;
	}
}
.allWrapper .introContents > .desc {
	width: 100%;
	position: relative;
	font-size: 20px;
	font-weight: 300;
	color: var(--b2);
	font-weight: 400;
	text-align: center;
	position: relative;
	z-index: 99;
	line-height: 160%;
	font-family: "Pretendard GOV" !important;
}
@media screen and (max-width: 1023px) {
	.allWrapper .introContents > .desc {
		font-size: 18px;
		word-break: break-word;
	}
}
.allWrapper .introContents > .desc > span {
	display: block;
	margin-bottom: 40px;
	font-size: 40px;
	font-weight: 400;
	line-height: 150%;
	color: var(--b1);
}
@media screen and (max-width: 1023px) {
	.allWrapper .introContents > .desc > span {
		font-size: 24px;
	}
}
.allWrapper .introContents > .desc > span .bold {
	font-weight: 700;
}
@media screen and (max-width: 767px) {
	.allWrapper .introContents > .desc > span > br {
		display: none;
	}
}
@media screen and (max-width: 767px) {
	.allWrapper .introContents > .desc > span {
		word-break: auto-phrase;
	}
}
.allWrapper .introContents > .desc > br {
	display: block;
}
@media screen and (max-width: 767px) {
	.allWrapper .introContents > .desc > br {
		display: none;
	}
}
.allWrapper .introContents > ul {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	gap: 10px;
	margin-top: 100px;
}
@media screen and (max-width: 1023px) {
	.allWrapper .introContents > ul {
		flex-flow: column;
		margin: 50px auto 0;
	}
}
.allWrapper .introContents > ul > li {
	width: 100%;
	border: 1px solid var(--lbg1);
	padding: 40px;
	background: var(--wht);
}
@media screen and (max-width: 767px) {
	.allWrapper .introContents > ul > li {
		padding: 20px;
	}
}
.allWrapper .introContents > ul > li .title {
	font-size: 20px;
	font-weight: 600;
	line-height: 150%;
	margin-bottom: 20px;
}
.allWrapper .introContents > ul > li > ul {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
}
.allWrapper .introContents > ul > li > ul > li {
	width: 25%;
	text-align: center;
	font-size: 14px;
	font-weight: 500;
	line-height: 150%;
	letter-spacing: -0.04px;
}
.allWrapper .introContents > ul > li > ul > li > .imgFrame {
	width: 100%;
	height: 80px;
	text-align: center;
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: center;
}
.allWrapper .introContents > ul > li > ul > li > .imgFrame img {
	display: inline;
	width: 60px;
}

/*중간 텍스트 영역*/
.pfTxtBox {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-width: 2500px;
	margin: 200px auto 50px;
	width: 100%;
	padding: 0 50px;
}
@media screen and (max-width: 767px) {
	.pfTxtBox {
		margin: 120px auto 50px;
	}
}
.pfTxtBox .textWrap {
	position: relative;
	z-index: 99;
}
.pfTxtBox .textWrap .text {
	display: flex;
	font-size: clamp(30px, 8vw, 10rem);
	line-height: 1;
	font-weight: 900;
	white-space: nowrap;
}
@media screen and (max-width: 767px) {
	.pfTxtBox .textWrap .text:last-of-type {
		margin-bottom: 20px;
	}
}

/*프로젝트 목록 영역*/
.galleryBox .gallery {
	position: relative;
	z-index: 99;
	margin-top: 50px;
	margin-bottom: 100px;
}
@media screen and (max-width: 1023px) {
	.galleryBox .gallery {
		margin-top: 5px;
		margin-bottom: 0;
	}
}
.galleryBox .gallery > ul.wrapper {
	padding-left: 1rem;
	list-style: none;
	display: flex;
	gap: 50px;
	opacity: 1 !important;
	display: flex;
	flex-wrap: no wrap;
	justify-content: center;
	align-items: center;
	max-width: 2500px;
	margin: 0 auto;
	width: 100%;
	padding: 0 50px;
	transition: opacity 1.5s cubic-bezier(0.16, 1, 0.3, 1), transform 1.5s cubic-bezier(0.16, 1, 0.3, 1);
}
@media screen and (max-width: 1023px) {
	.galleryBox .gallery > ul.wrapper {
		display: flex;
		flex-flow: column;
		gap: 5px;
		padding: 0 20px;
	}
}
.galleryBox .gallery > ul.wrapper li {
	position: relative;
	flex-shrink: 0;
	width: clamp(300px, 40vw, 500px);
	padding-right: 1rem;
	overflow: hidden;
	z-index: 99;
	transition: none !important;
	will-change: transform, opacity;
}
@media screen and (max-width: 767px) {
	.galleryBox .gallery > ul.wrapper li {
		padding-right: 0;
	}
}
.galleryBox .gallery > ul.wrapper li > a {
	display: block;
	background: var(--wht);
	position: relative;
	width: clamp(300px, 40vw, 500px);
	height: 350px;
}
@media screen and (max-width: 1023px) {
	.galleryBox .gallery > ul.wrapper li > a {
		width: 100% !important;
		height: 150px;
	}
}
.galleryBox .gallery > ul.wrapper li > a img {
	width: max-content;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
@media screen and (max-width: 1023px) {
	.galleryBox .gallery > ul.wrapper li > a img {
		width: 200px;
	}
}
.galleryBox .gallery > ul.wrapper li::before {
	display: none;
}
.galleryBox .gallery > ul.wrapper li:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}
.galleryBox .gallery > ul.wrapper li::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--b1);
	transform-origin: right;
	transition: transform 1s cubic-bezier(0.77, 0, 0.175, 1);
}
@media screen and (max-width: 1023px) {
	.galleryBox .gallery > ul.wrapper li::after {
		display: none;
	}
}
.galleryBox .gallery > ul.wrapper li.reveal {
	opacity: 1;
	transform: translate3d(0, 0, 0) !important;
}
.galleryBox .gallery > ul.wrapper li.reveal::after {
	transform: scaleX(0);
	transition: 0.4s;
}
.galleryBox .gallery > ul.wrapper li.nfa img {
	width: 200px;
}
@media screen and (max-width: 1023px) {
	.galleryBox .gallery > ul.wrapper li {
		width: 100% !important;
	}
}
.galleryBox .gallery:not(.last) {
	padding-bottom: 1rem;
}
@media screen and (max-width: 1023px) {
	.galleryBox .gallery:not(.last) {
		padding-bottom: 0;
	}
}

.lastTxtBox {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.lastTxtBox .textWrap {
	position: relative;
	z-index: 99;
}
.lastTxtBox .textWrap .text {
	display: flex;
	font-size: clamp(30px, 8vw, 10rem);
	line-height: 1;
	font-weight: 900;
	white-space: nowrap;
}
@media screen and (max-width: 767px) {
	.lastTxtBox .textWrap .text:last-of-type {
		margin-bottom: 20px;
	}
}

.cpright {
	width: 100%;
	position: relative;
	font-size: 16px;
	font-weight: 600;
	line-height: 150%;
	text-align: center;
	padding-bottom: 100px;
}
@media screen and (max-width: 767px) {
	.cpright {
		padding-bottom: 50px;
	}
}
/*# sourceMappingURL=../maps/style.css.map */
